<header class="page-header">
<h1>Dashboard</h1>
</header>
<main class="container dashboard alert alert-success" role="alert">
<div class="total_products">
<p>Total products: <%= @total_products %> </p> 
<%= link_to 'Products', [:admin, :products], class: "nav-link" %>
</div>
<p>Categories: <%= @num_categories %> </p>
</main>
