<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% unless enhanced_cart.empty? %>
    <%= render 'carts/products'%>
  <% else %>
    <%= render 'carts/empty' %>
  <% end %>

</section>
