<section class="about-index">
  <header class="page-header">
    <h1>About us</h1>
  </header>
  <div class="intro">
  <p> We only sell healthy, beautiful, pest-free plants sourced from our amazing network of reputable growers based right here in British Columbia. </p>
  <p> Our plants are potted in premium soil ideal for that plant, inspected for pests and treated with an all-natural insecticide, then cleaned and pruned before being delivered to your home.</p>
  <p> We choose plants as if they were coming into our own homes, and we are really, really picky.</p>
  <img src="https://i.chzbgr.com/full/9326300928/hA8C9AB6B/bought-a-new-plant-friend-didnt-you-just-buy-one-yesterday-me-that-wasnt-me-that-was-patricia-split" width="400">
  <p>We don't have a storefront or salespeople, and being online only means we can run a pretty lean business. This enables us to sell high quality, healthy plants at a great price, every single day.</p>

  <p>We try not to jack prices up only to put everything on "sale" later, but we occasionally offer small discounts to make it easier for new customers to give us a try, or to existing customers to say thanks and to share with their friends and family.</p>
  <img src="https://www.digitalmomblog.com/wp-content/uploads/2022/01/plant-kid-memes.jpg" width="400">
  <p>Other online plant stores deliver plants in boxes via couriers like Canada Post. No hard feelings to our local mailman, but plants are delicate, living things so we intentionally decided not to do that because we don't believe it's the best way to transport them.</p>
  <img src="https://i.redd.it/rvd6umtxva171.jpg" width="400">
  </div>
</section>